<div>
    <h2 translate="gutenbergApp.libros.home.title">Libros</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 no-padding-left">
                <button class="btn btn-primary" ui-sref="libros.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="gutenbergApp.libros.home.createLabel">
                        Create new Libros
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th><span translate="gutenbergApp.libros.nombre_libro">Nombre Libro</span></th>
                    <th><span translate="gutenbergApp.libros.nombre_autor">Nombre Autor</span></th>
                    <th><span translate="gutenbergApp.libros.editorial">Editorial</span></th>
                    <th><span translate="gutenbergApp.libros.fragmento_libro">Fragmento Libro</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="libros in vm.libros track by libros.id">
                    <!--td><a ui-sref="libros-detail({id:libros.id})">{{libros.id}}</a></td-->
                    <td>{{libros.nombre_libro}}</td>
                    <td>{{libros.nombre_autor}}</td>
                    <td>{{libros.editorial}}</td>
                    <td>{{libros.fragmento_libro}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="libros-detail({id:libros.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="libros.edit({id:libros.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="libros.delete({id:libros.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
